body {
    background-image: url("/static/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    /

    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;


    background-color: rgba(255, 240, 245, 0.7);
    background-blend-mode: lighten;
}

h1, h2, h3 {
    color: #ff5f7a;
}

button, a.button {
    background: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover, a.button:hover {
    background: #ff5f7a;
}

img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.flower-card {
    display: inline-block;
    background: #ffffffcc;
    margin: 15px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffffcc;
    margin: 8px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

a {
    color: #ff5f7a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
