<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloomify 🌸</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/rose.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

    <h1>Welcome to Bloomify 🌸</h1>
    <p>Fresh, beautiful flowers delivered straight to your heart 💐</p>

    <br>

    <a href="/login" class="button">Login</a>
    <a href="/register" class="button">Register</a>
    <a href="/shop" class="button">Shop Flowers</a>

</body>
</html>
